<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Automation Suite">
	<test thread-count="5" name="Api Rest Assured">
		<classes>
			<class name="com.restassured.api.tests.crud.CreateNewBooking" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->