<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.restassured.api.tests.crud.CreateNewBooking"/>
      <class name="com.restassured.api.test.cases.TokenGenerationTestCases"/>
      <class name="com.restassured.api.test.cases.GetAllBookingTestCases"/>
      <class name="com.restassured.api.tests.integration.IntegrationTestCases"/>
      <class name="com.restassured.api.tests.integration.IntegrationTestCaseTemplate"/>
      <class name="com.restassured.api.test.cases.GetBookingsTestCases"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
